body {
    font-family: 'DM Sans', sans-serif;
    background-color: #222;
        color: #fff;
}

.bar {
    fill: steelblue;
}

.chart-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
}

.chart-title {
    font-size: 24px;
    font-weight: bold;
}

.chart-description {
    font-size: 16px;
}

.chart-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
    overflow-y: scroll;
    height: 100vh;
}
#scrolly {
    position: relative;
}
  
.sticky {
    position: sticky;
    top: 0;
}
.inactive {
    z-index: -1;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000080;
        color: #fff;
    }
}