body {
    font-family: 'DM Sans', sans-serif;
    background-color:tan;
        color: black;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    margin: 20px;
    padding: 10px;
}
h2 {
    
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    color: lime;
}
.imge {
    display: block;
    margin: 0 auto;
  }

.bar {
    fill: steelblue;
}

.chart-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
}


.chart-description {
    font-size: 20px;
    font-weight: bold;
}

.chart-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
    overflow-y: scroll;
    height: 100vh;
}
#scrolly {
    position: relative;
}
  
.sticky {
    position: sticky;
    top: 0;
}
.inactive {
    z-index: -1;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: tan;
        color: black;
    }
}